@import "../../bower_components/bootstrap/less/bootstrap.less";

@redy: #e62b1e;

@font-face {
  font-family: 'LogosFont';
  src: url('../fonts/LogosFont.ttf');
  font-weight: normal;
  font-style: normal;
}
.icon {
  display: inline-block;
  font-family: LogosFont ;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  padding: 0 45px;
  margin: 0 auto;
  color: #444;
  height: 64px;
  line-height: 64px;

  border-bottom: 1px solid #ddd;

  a {
    color: #444;

    &.brand-logo {
      font-size: 36px;
      .icon {
        position: relative;
        top: -2px;
      }
    }
  }
  a:hover, a:active {
    text-decoration: none;
  }
  .links {
    font-size: 16px;
    float: right;

    a.inst-instructions {
      margin-right: 30px;
    }
    a.inst-instructions:hover {
      text-decoration: underline;
    }

    .icon {
      font-size: 36px;
      position: relative;
      top: 5px;
    }

  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.navbar.navbar-default {
  padding-left: 35px;
  padding-right: 35px;
}

.navbar-static-top.navbar-default {
  border-bottom-width: 2px;
  border-color: @redy;
  background-color: #f1f1f1;
  .fa { font-size: 19px; }
}


.navbar-default .navbar-nav>.active>a {
  font-weight: bold;
}

.view {
  padding: 20px 50px;
  margin: 0 auto;

  .btn-save-request {
    width: 100%;
  }

  .refresh-btn {
    cursor: pointer;
  }

  .CodeMirror-wrap {
    border: 1px solid #ddd;
  }

  .snippets-list {
    li {
      padding: 1px 5px;
    }
    li:hover {
      background-color: #d3d3d3;
    }
  }
  &.ng-enter,
  &.ng-leave {
    -webkit-transition: 455ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
    -moz-transition: 455ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
    -ms-transition: 455ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
    -o-transition: 455ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
    transition: 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
    &.ng-leave-active {
      display: none;
    }
  }

  &.ng-enter {
    opacity: 0.1;
    position: relative;
    &.ng-enter-active { opacity: 1; }
  }
}

.navbar-default .navbar-nav>li>a {
  color: #666;
  font-weight: bold;
}
.navbar-default .navbar-nav.navbar-right li {
  line-height: 50px;

  &.login {
    margin-right: 20px;
  }
}
.navbar-default .navbar-nav a {
  position: relative;

  -webkit-transition: 1455ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
  -moz-transition: 1455ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
  -ms-transition: 1455ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
  -o-transition: 1455ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
  transition: 1455ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;

  &:before {
    content: ' ';
    z-index: 1000;
    position: absolute;
    opacity: 0;
    bottom: 0;
    left: 50%;
    margin-bottom: -6px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid @redy;
    border-radius: 100%;
    background-color: white;

    -webkit-transition: 1455ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
    -moz-transition: 1455ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
    -ms-transition: 1455ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
    -o-transition: 1455ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
    transition: 1455ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
  }
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background-color: transparent;
  color: black;
}
.navbar-default .navbar-nav>.active>a {
  &:before {
    opacity: 1;
  }
}
