@import "../../bower_components/bootstrap/less/bootstrap.less";

@redy: #e62b1e;

@font-face {
  font-family: 'LogosFont';
  src: url('../fonts/LogosFont.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 60px;
}
.icon {
  display: inline-block;
  font-family: LogosFont ;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  padding: 0 45px;
  margin: 0 auto;
  color: #444;
  height: 64px;
  line-height: 64px;

  border-bottom: 1px solid #ddd;

  a {
    color: #444;

    &.brand-logo {
      font-size: 36px;
      .icon {
        position: relative;
        top: -2px;
      }
    }
  }
  a:hover, a:active {
    text-decoration: none;
  }
  .links {
    font-size: 16px;
    float: right;

    a.inst-instructions {
      margin-right: 30px;
    }
    a.inst-instructions:hover {
      text-decoration: underline;
    }

    .icon {
      font-size: 36px;
      position: relative;
      top: 5px;
    }

  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.view {
  .error pre {
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
    color: darkred;
  }
  .toolbar {
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
  }
  .right-bar {
    padding: 10px 15px;
    position: fixed;
    bottom: 0;
    right: 4px;
    top: 120px;
    border: 1px solid #ddd;
    width: 0px;
    opacity: 0;
    z-index: 1000;
    background: white;
    overflow-y: auto;
    &.open {
      opacity: 1;
      width: 400px;
    }
    -webkit-transition: 0.2s ease-out all;
    transition: 0.2s ease-out all;
  }
  .result {
    position: fixed;
    bottom: 0;
    left: 4px;
    right: 4px;
    border: 1px solid #ddd;
    height: 40px;
    background: white;
    &.open {
      height: 600px;
    }
    z-index: 1001;
    -webkit-transition: 0.2s ease-out all;
    transition: 0.2s ease-out all;
    box-shadow: 0 -1px 20px 0 rgba(0, 0, 0, 0.16), 0 -1px 25px 0 rgba(0, 0, 0, 0.12);
    .result-header {
      margin-top: 0;
      border-bottom: 1px solid #ddd;
      padding: 4px 10px;
      background: white;
    }
    .result-content {
      position: absolute;
      top: 40px;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto;
      padding: 5px;
    }
  }

  .btn-save-request {
    width: 100%;
  }

  .refresh-btn {
    cursor: pointer;
  }

  .CodeMirror {
    height: auto;
  }
  .CodeMirror-wrap {
  }

  .snippets-list {
    li {
      padding: 1px 5px;
    }
    li:hover {
      background-color: #d3d3d3;
    }
  }
  &.ng-enter,
  &.ng-leave {
    -webkit-transition: 455ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
    -moz-transition: 455ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
    -ms-transition: 455ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
    -o-transition: 455ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
    transition: 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
    &.ng-leave-active {
      display: none;
    }
  }

  &.ng-enter {
    opacity: 0.1;
    position: relative;
    &.ng-enter-active { opacity: 1; }
  }
}

